


<div *ngIf="isLoaded"  class="lista-filmes" fxLayout="row wrap" fxLayoutGap="20px"  fxLayout.xs = "column" fxLayoutAlign.xs="space-around center">
    <mat-card class="card-movie" *ngFor="let movie of objeto.results" (click)="openDialog(movie)">
        <img mat-card-md-image   [src]="config.images.base_url + config.images.poster_sizes[0] + movie.poster_path" alt="">
        <mat-card-title>
            <span class="card-title">{{movie.original_title}}</span>
        </mat-card-title>
      </mat-card>
        <!-- <div *ngFor = "let movie of objeto.results" (click)="obterDetalhesFilme(movie)">
            
            <div class="card-body">
              
            </div>
        </div> -->
        <!-- <ul>
          <li *ngFor = "let movie of objeto.results" (click)="obterDetalhesFilme(movie)">
            {{movie.original_title}}
            <img [src]="config.images.base_url + config.images.poster_sizes[0] + movie.poster_path" alt="">
          </li>
        </ul> -->
    </div>


