.h2Aumentado{
    font-size:2.8em;
}
.h3Aumentado{
    font-size:1.8em;
}
.pAumentado{
    font-size:1.3em;
}

.h2Menor{
    font-size:1.2em;
}
.h3Menor{
    font-size: 1.0em;
}
.pMenor{
    font-size:0.7em;
}