<!--The content below is only a placeholder and can be replaced.-->
<div [class.altoContraste] = "ativarContraste">
    <mat-toolbar class="menu" color="primary" div fxLayout="row" fxLayoutAlign="start center">
        <a (click)="opened = !opened" (keydown.enter) = "opened = true" (keydown.esc) = "opened = false" class="botaoMenu"><i class="material-icons" tabindex="1" aria-label="Lista de Gêneros">menu</i></a>
        <a (click)="ativarContraste = !ativarContraste; textoContraste();" (keydown.enter) = "ativarContraste = !ativarContraste; textoContraste();" class="botaoMenu" [class.ativado] = "ativarContraste" tabindex="0" aria-describedby="descricaoContraste"><i class="material-icons" aria-hidden="true">brightness_medium</i> <span id="descricaoContraste" hidden>{{descricaoContraste}}</span></a>
        <a class="botaoMenu" (click)="ativarAumento= !ativarAumento; textoAumento();" (keydown.enter) = "ativarAumento = !ativarAumento; textoAumento();"  [class.ativado] = "ativarAumento"  tabindex="0" aria-describedby="descricaoAumento">A+ <span id="descricaoAumento" hidden>{{descricaoAumento}}</span></a>
        <a class="botaoMenu" (click)="ativarReducao= !ativarReducao; textoReducao();" (keydown.enter) = "ativarReducao = !ativarReducao; textoReducao(); " [class.ativado] = "ativarReducao" tabindex="0" aria-describedby="descricaoReducao">A- <span id="descricaoReducao" hidden>{{descricaoReducao}}</span></a>
        <div fxFlexOffset.lg = "35%" fxFlexOffset.md = "30%" fxFlexOffset.sm = "23%" fxFlexOffset.xs = "8%">
              <h1>
                  Bem vindo ao {{ title }}!
              </h1>
        </div>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav [(opened)] = "opened" class="containerMenu">
            <app-listageneros (selecionarGenero) = "numeroGenero = $event" (click)="opened = false" (keydown.enter)="opened = false" [modoAumentarFonte] = "ativarAumento" [modoDiminuirFonte] = "ativarReducao"></app-listageneros>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="text-align:center">
              <busca-filme (buscadorFilme)="filmeBuscado=$event"></busca-filme>
              <app-lista-filmes [modoAltoContraste]="ativarContraste" [generoEscolhido] = "numeroGenero" [filmeBuscado] = "filmeBuscado" [modoAumentarFonte] = "ativarAumento" [modoDiminuirFonte] = "ativarReducao"></app-lista-filmes>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  
<router-outlet></router-outlet>
