<!--The content below is only a placeholder and can be replaced.-->
<div [class.altoContraste] = "ativarContraste">
    <mat-toolbar class="menu" color="primary" div fxLayout="row" fxLayoutAlign="start center">
        <a (click)="opened = !opened" class="botaoMenu"><i class="material-icons">menu</i></a>
        <a (click)="ativarContraste = !ativarContraste" class="botaoMenu"><i class="material-icons">brightness_medium</i></a>
        <div fxFlexOffset.lg = "35%" fxFlexOffset.md = "30%" fxFlexOffset.sm = "23%" fxFlexOffset.xs = "8%">
              <h1>
                  Bem vindo ao {{ title }}!
              </h1>
        </div>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav [(opened)] = "opened" class="containerMenu">
            <app-listageneros (selecionarGenero) = "numeroGenero = $event" (click)="opened = false"></app-listageneros>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="text-align:center">
              <busca-filme (buscadorFilme)="filmeBuscado=$event"></busca-filme>
              <app-lista-filmes [modoAltoContraste]="ativarContraste" [generoEscolhido] = "numeroGenero" [filmeBuscado] = "filmeBuscado"></app-lista-filmes>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  
<router-outlet></router-outlet>
