.generosLinks{
    text-decoration: none;
    display: inline;
    margin-left: 2em;
}

.generosLinks{
    cursor: pointer;
}

.generosLinks:hover{
    font-weight:bold;
    color:indigo;
    transition: .3s;
}

.altoContraste > .generosLinks:hover{
    color:magenta;
}