/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-x: hidden;
    background-color:#fafafa;
}



.dialogoAltoContraste{
    background:black;
    color:white;
}

.containerMenu{
    height:80%;
}

.fonteAumentada{
    font-size: 4em;
}